**Import modules**

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

Read .csv file

In [16]:
df = pd.read_csv('/content/car_details_from_car_dekho - car_details_from_car_dekho.csv')

Make a new column year_old that has year of car

In [17]:
df['year_old'] = 2023 - df['year']

In [18]:
df.head(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,year_old
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner,16
1,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner,11
2,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner,9
3,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner,16
4,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner,11

In [19]:
df = df.loc[:, df.nunique() > 1]

In [20]:
df.head(5)

,name,year,selling_price,km_driven,fuel,seller_type,owner,year_old
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,First Owner,16
1,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,First Owner,11
2,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Second Owner,9
3,Maruti 800 AC,2007,60000,70000,Petrol,Individual,First Owner,16
4,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,First Owner,11

Set Target column

In [21]:
target_column = 'selling_price'
X = df.drop(columns=[target_column])
y = df[target_column]

Do train test split with 90:10 ratio

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=95)

Ordinal encoding for categorical columns

In [23]:
categorical_cols = ['fuel', 'seller_type', 'owner','name']
encoder = OrdinalEncoder()
X_train[categorical_cols] = encoder.fit_transform(X_train[categorical_cols])
X_test[categorical_cols] = encoder.transform(X_test[categorical_cols])

Fit Random Forest Regressor

In [24]:
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

Mean absolute error:

In [25]:
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print('Mean Absolute Error:', mae)

Mean Absolute Error: 38680.05